NOTICE filter=lfs diff=lfs merge=lfs -text
org.jacoco.ant filter=lfs diff=lfs merge=lfs -text
pom.xml filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
jacoco-maven-plugin.test filter=lfs diff=lfs merge=lfs -text
org.jacoco.agent.rt.test filter=lfs diff=lfs merge=lfs -text
org.jacoco.build filter=lfs diff=lfs merge=lfs -text
org.jacoco.core.test.validation.java7 filter=lfs diff=lfs merge=lfs -text
org.jacoco.examples filter=lfs diff=lfs merge=lfs -text
org.jacoco.report filter=lfs diff=lfs merge=lfs -text
org.jacoco.report.test filter=lfs diff=lfs merge=lfs -text
config.mk filter=lfs diff=lfs merge=lfs -text
org.jacoco.tests filter=lfs diff=lfs merge=lfs -text
org.jacoco.cli filter=lfs diff=lfs merge=lfs -text
org.jacoco.core.test.validation filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_EPL filter=lfs diff=lfs merge=lfs -text
LICENSE.md filter=lfs diff=lfs merge=lfs -text
org.jacoco.agent.test filter=lfs diff=lfs merge=lfs -text
org.jacoco.core filter=lfs diff=lfs merge=lfs -text
org.jacoco.core.test.validation.java8 filter=lfs diff=lfs merge=lfs -text
org.jacoco.examples.test filter=lfs diff=lfs merge=lfs -text
jacoco-maven-plugin filter=lfs diff=lfs merge=lfs -text
org.jacoco.cli.test filter=lfs diff=lfs merge=lfs -text
org.jacoco.core.test.validation.groovy filter=lfs diff=lfs merge=lfs -text
README.android filter=lfs diff=lfs merge=lfs -text
org.jacoco.ant.test filter=lfs diff=lfs merge=lfs -text
org.jacoco.doc filter=lfs diff=lfs merge=lfs -text
FETCH_HEAD filter=lfs diff=lfs merge=lfs -text
org.jacoco.core.test filter=lfs diff=lfs merge=lfs -text
org.jacoco.core.test.validation.kotlin filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
org.jacoco.agent filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
org.jacoco.agent.rt filter=lfs diff=lfs merge=lfs -text
org.jacoco.core.test.validation.java5 filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
jacoco filter=lfs diff=lfs merge=lfs -text
